<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Evidence</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <style>

        .main {
            padding-top: 20px;
        }
    </style>
    @RenderSection("styles", false)

</head>
<body>
    <nav class="navbar  bg-success navbar-expand-md shadow-sm">
        <div class="container-fluid">
            <span class="navbar-brand fw-bold text-white">Diagnostic  Center</span>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav nav
                    ">
                    <li class="nav-item ">
                        @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link fw-bold text-white" })
                    </li>
                    <li class="nav-item text-white">
                        @Html.ActionLink("Tests", "Index", "Tests", new { }, new { @class = "nav-link fw-bold text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Test Types", "Index", "TestTypes", new { }, new { @class = "nav-link fw-bold text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Test Entries", "Index", "TestEntries", new { }, new { @class = "nav-link fw-bold text-white" })
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <section class="container-fluid main">
        @RenderBody()
    </section>
    <footer>
        <p class="bg-info text-center">&copy;Rahima Akter </p>
    </footer>
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", false)
</body>
</html>